#title{
    font-family: 'Piedra', cursive;
    text-align: center;
    margin-top: 125px;
    font-size: 100px;
    font-weight: lighter;
}

#enter-button{

    text-align: center;
}

#log-button{
    font-size: 25px;
    font-family: 'Chelsea Market';
    
}